<!doctype html>
<html lang="en" ng-app>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <%- include('header') %>
      <!-- start body here -->
      <div class="page-header">
        <h1 style="">Set Up for Chat</h1>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <form id="nameform" action="/whiteboard" class="form-horizontal">
            <div class="form-group">
              <div class="row">
                <div class="control-label col-sm-4">
                  <label>Display Name</label>
                </div>
                <div class="col-sm-8">
                  <input id="name" type="text" name="name" class="form-control">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4 pull-right">
                  <input type="submit" value="Join Selected Chat" class="btn btn-primary">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end body here -->
    </div>
    <%- include('footer') %>
    <%- include('scripts') %>
  </body>
</html>