<!doctype html>
<html lang="en" ng-app>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <%- include('header') %>
      <!-- start body here -->
      <div class="page-header">
        <h1>Are You Lost?</h1>
      </div>
      <br>
      <!-- end body here -->
    </div>
    <%- include('footer') %>
    <%- include('scripts') %>
  </body>
</html>
