<!doctype html>
<html lang="en" ng-app>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <%- include('header') %>
      <!-- start body here -->
      <div class="page-header">
        <h1>Are You Lost?</h1>
      </div>
      <br>
      <h4>Words from Theresa:</h4>
      <p>Please note that I have a shared driveway so you will need to park on the street.  If there is nothing in front of my house on 18th ave, then the best spot would be on Pierce or Fillmore since my house is on 18th in between Pierce and Fillmore.  </p>
      <br>
      <h4>Directions to Start:</h4>
      <a href="https://www.google.com/maps/place/1217+18th+Ave+NE,+Minneapolis,+MN+55418/@45.0061753,-93.2435344,17z/data=!3m1!4b1!4m5!3m4!1s0x52b32dbe88d91c4f:0x96da4fa199f01537!8m2!3d45.0061715!4d-93.2413457">Directions (Click Here)</a>
      <!-- end body here -->
    </div>
    <%- include('footer') %>
    <%- include('scripts') %>
  </body>
</html>
