<!doctype html>
<html lang="en" ng-app>
  <head>
    <title><%= title %></title>
    <%- include('head') %>
  </head>
  <body>
    <div class="container">
      <%- include('header') %>
      <!-- start body here -->
      <div class="page-header">
        <h1>Need an Uber?</h1>
      </div>
      <br>
      <h4>Uber for dummies:</h4>
      <li>Go to your _ device's app store</li>
      <li>Search for 'Uber'</li>
      <li>Download said Uber app</li>
      <li>Open Uber</li>
      <li><strong>Don't be dumb and drive drunk!</strong></li>
      <ul></ul>
      <!-- end body here -->
    </div>
    <%- include('footer') %>
    <%- include('scripts') %>
  </body>
</html>
